# Global Observations of Nonlinear Mesoscale Eddies 
<a href="https://www.aviso.altimetry.fr/en/data/products/value-added-products/global-mesoscale-eddy-trajectory-product/meta2-0-dt.html">The Altimetric Mesoscale Eddy Trajectories Atlas (META2.0) </a>

The purpose of this notebook is to:
* Read in eddy-tracking datasets
* Process the datasets to only include WCR- and CCR-like eddies in the Northwest Atlantic
* Analyize the formation patterns, seasonal cycles, and formation trends of the eddies
* Plot results of those analyses

The aforementioned dataset is officially called *The Altimetric Mesoscale Eddy Trajectories Atlas (META2.0)* and colloquially referred to the *Chelton eddy tracks* here. The current verison of the Chelton eddy dataset is described in <a href="https://www.aviso.altimetry.fr/fileadmin/documents/data/products/value-added/Schlax_Chelton_2016.pdf"> Schlax & Chelton, 2016</a> which built upon <a href="https://www.sciencedirect.com/science/article/pii/S0079661111000036"> Chelton et al., 2011</a>. 

A new verison of this dataset, titled the *Mesoscale Eddy Trajectories Atlas Product Verison 3.2 Experimental Near-Real (META3.2 EXP NRT)*, was published in March 2022. The details of this dataset are described <a href="https://essd.copernicus.org/articles/14/1087/2022/"> Pegliasco et al., 2022</a> which inherited an eddy-tracking algorithm developed by <a href="https://journals.ametsoc.org/view/journals/atot/31/5/jtech-d-14-00019_1.xml"> Mason et al., 2014</a> that is based upon <a href="https://www.sciencedirect.com/science/article/pii/S0079661111000036"> Chelton et al., 2011</a>.

The META2.0 dataset, or Chelton eddy tracks, are no longer recommended for use. We will start the analysis with the Chelton eddy tracks since they are still widely used and regarded. Then we will repeat the same analysis with the newest verison, META3.2 EXP NRT, of this product.

The Chelton eddy tracks are stored as an xarray DataSet, which is a collection of DataArrays. Positional indexing is not supported for DataSets. The dimensions of this DataSet is obs (observations) which is a 1D array from 0â€“27,880,804 which are indices of each instance of an eddy detected in the global dataset. 

## Import Functions:

In [1]:
# adds upper level to working directory, this is where the utils folder is saved
import sys
sys.path.append("..")

# import the util functions
from utils.eddy_plot_utils import *
from utils.eddy_data_utils import *

## Load Data:

In [6]:
#################################################################################################################

# Bathymetry of Northwest Atlantic
bathy = xr.open_dataset('/Users/elenaperez/Desktop/rings/data/nwa_bathy.nc')

#################################################################################################################

# META2.0 dataset

# open dataset from path
ds = nc.Dataset('/Users/elenaperez/Desktop/rings/data/eddy_trajectory_dt_2.0_19930101_20200307.nc')

# convert eddy trajectories to pandas dataframe

In [8]:
ds = xr.open_dataset('/Users/elenaperez/Desktop/rings/data/eddy_trajectory_dt_2.0_19930101_20200307.nc')
df = ds.to_dataframe()

In [9]:
df

,amplitude,cyclonic_type,latitude,longitude,observation_flag,observation_number,speed_average,speed_radius,time,track
obs,,,,,,,,,,
0,0.443,1,-40.024101,19.317499,0,0,0.7345,75150.0,1993-01-01,0
1,0.433,1,-40.086700,19.241699,0,1,0.7723,77600.0,1993-01-02,0
2,0.446,1,-40.090698,19.179800,0,2,0.8118,71250.0,1993-01-03,0
3,0.443,1,-40.116501,19.120300,0,3,0.8208,71300.0,1993-01-04,0
4,0.418,1,-40.182400,19.057400,0,4,0.8263,82350.0,1993-01-05,0
...,...,...,...,...,...,...,...,...,...,...
27880799,0.021,-1,-76.043602,167.141006,0,23,0.0466,71350.0,2020-03-03,379974
27880800,0.024,-1,-76.126900,166.949997,0,24,0.0519,84600.0,2020-03-04,379974
27880801,0.029,-1,-76.148003,167.102005,0,25,0.0576,30950.0,2020-03-05,379974
27880802,0.032,-1,-76.098900,167.375000,0,26,0.0606,36400.0,2020-03-06,379974
27880803,0.037,-1,-76.084900,167.524002,0,27,0.0640,36450.0,2020-03-07,379974